.cinema{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    margin-top: 0px;
    padding:10px;
    background: rgb(15, 15, 15);
    min-height: 200px;
    color:wheat
}
.poster{
    width: 400px;
    height: 500px;
}